<%- include("partials/head") %>

  <body>

  <h1>My site</h1>

  <article>
    <input id="title" value="<%= settings.items.title %>"></input>
    <textarea id="text"><%- settings.marked(settings.items.text) %></textarea>
    <button class="edit" id="<%= settings.item_id %>">Edit</button>
  </article>


  <%- include("partials/footer") %>
